.main {
    text-align: center;
    width: 100%;
}

form * {
    text-align: left;
}

#titolPrincipal {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 2%;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1cm;
    margin-top: 20px;
    letter-spacing: 5px;
}

.crearInc {
    text-decoration: underline #2e95f5;
    color: #2e95f5;
    font-weight: bold;

}

.buit {
    font-size: larger;
}

a {
    text-decoration: none
}

.Tornar {
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
}

.botoPagPrincipal {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}

.tarjeta h2 {
    font-size: 25px;
}

.tarjeta {
    margin-bottom: 0.5%;
    width: 17%;
    height: 50%;
}

#taulaIncidencies,
#taulaIncidencies2,
#taulaIncidencies3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.separador {
    height: 3px;
    width: 50%;
    background-color: #95CBE0;
    border: none;
}

#titolTaulaIncidencies,
.incidencia {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr 3fr;
    grid-template-areas: 'id dep prior data tecnic editar '
        'desc desc desc desc desc desc ';

}

#titolTaulaIncidencies2,
.incidencia2 {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr 3fr;
    grid-template-areas: 'id dep prior data editar '
        'desc desc desc desc desc desc ';

}

.incidencia,
.incidencia2,
.incidencia3 {
    background-color: #9AAEBB;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titolTaulaIncidencies,
#titolTaulaIncidencies2,
#titolTaulaIncidencies3 {
    background-color: white;
}

.campIncidenciaId,
.campIncidenciaDep,
.campIncidenciaPrio,
.campIncidenciaData,
.titolTaulaIncidencia,
.campIncidenciaAccio,
.campIncidenciaDescripcio,
.campIncidenciaTecnic,
.campTempsEmprat,
.botoEditar {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;

}

.campIncidencia {
    grid-area: id;
}

.campIncidenciaDep {
    grid-area: dep;
}

.campIncidenciaPrio {
    grid-area: prior;
}

.campIncidenciaData {
    grid-area: data;
}

.campIncidenciaTecnic {
    grid-area: tecnic;
}

.campTempsEmprat {
    grid-area: temps;
}

.botoEditar {
    grid-area: editar;
    margin-top: 16px;
    margin-right: 10%;
}

.botoEditar:hover {
    margin-top: 16px;
}



#titolTaulaIncidencies *,
#titolTaulaIncidencies2 *,
#titolTaulaIncidencies3 * {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: rgb(37, 37, 37);
    color: white;
    font-weight: bold;

}



.campIncidenciaDescripcio,
.titolTaulaIncidenciaDescripcio {
    max-width: 768px;
    grid-area: desc;
}

#grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.incidencia:hover {
    background-color: #eee8a9;
}


@media only screen and (min-width: 768px) {
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 50%;
    }

    #taulaIncidencies,
    #taulaIncidencies2,
    #taulaIncidencies3 {
        width: 70%;

    }

    #taulaIncidencies *,
    #taulaIncidencies2 *,
    #taulaIncidencies3 * {
        color: black;
    }

    #titolTaulaIncidencies>*,
    #titolTaulaIncidencies2>*,
    #titolTaulaIncidencies3>* {
        color: white;
    }

    #titolTaulaIncidencies {
        position: sticky;
        top: 0;
    }

    .incidencia {
        background-color: rgb(185, 183, 183);
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 'id dep desc prior data tecnic ';
        border-bottom: 1px solid black;

    }


    .incidencia2 {
        background-color: rgb(185, 183, 183);
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 'id dep desc prior data ';
        border-bottom: 1px solid black;

    }

    .incidencia3 {
        background-color: rgb(185, 183, 183);
        margin-top: auto;
        border-bottom: 1px solid black;

    }

    #titolTaulaIncidencies,
    .incidencia {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 'id dep desc prior data tecnic ';
    }

    #titolTaulaIncidencies2,
    .incidencia2 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 'id dep desc prior data ';
    }

    #titolTaulaIncidencies3,
    .incidencia3 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr ;
        grid-template-areas: 'id dep desc prior data temps ';
    }

    .campIncidenciaDescripcio,
    .titolTaulaIncidenciaDescripcio {
        max-width: 300px;
    }

    .table {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
    }
}

.princ {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}

.body {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(21,140,186,1) 100%);
    border-radius: 10px;*/
}


input.princ {
    margin-right: 2%;
}


#taulaIncidencies *,
#taulaIncidencies2 {
    color: black;
}

#titolTaulaIncidencies>* {
    color: white;
}


.wrapper {
    width: 80%;
    position: relative;
    left: 20%;
}

.form-group {
    margin-left: 100px;

}

.wrapperLog {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.logTit {
    width: 80%;
    top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn,
btn-primary {
    position: relative;
    padding-top: 10px;
}

.messLog {
    width: 100%;
    position: relative;
    margin-left: 100px;
    text-align: center;
    padding-top: 20px
}

.Alta {
    background-color: #e06668;
}

.Alta:hover {
    background-color: #dd4d50;

}

.Mitja {
    background-color: #eca343;
}

.Mitja:hover {
    background-color: #eb9525;
}

.Baixa {
    background-color: #f9f871;
}

.Baixa:hover {
    background-color: #fcfc4c;

}

.tarjeta>img {
    position: relative;
    height: 50px;
}

.cercar>img {
    position: relative;
    height: 25px;
}

.consul>input {
    display: inline-block;
    width: 25%;
}

.graella {
    margin-top: 3%;

}

.row {
    position: relative;
    left: 300px;
}

#enviaFiltre {
    padding-bottom: 1px;
    padding-top: 1px;
}

#formFiltre {
    margin-bottom: 1%;
}

#sort,#grup {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.mostrarId {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.idAMostrar {
    size: xxL;
}

.cet {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 3%;
}

.col-12 {
    width: 80%;
    position: relative;
    right: 180px;
    top: 20px;

}

.formulari {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.formulari,
.form-group {
    margin-left: auto;
    margin-right: auto;

}

#cercaInc {
    margin-bottom: 1%;
}

.tab {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-top: 20px;
}

.correo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c {
    margin-bottom: 1%;
}

.correo>img {
    position: relative;
    height: 25px;
}

.tornar {
    position: relative;
    left: 47%;

}

.chart {
    max-width: 35%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.completada {
    background-color: #A5ED84;
}

.completada:hover {
    background-color: #7fe450;

}